@font-face {
  font-family: Lato-Bold;
  src: url(./fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato-Light;
  src: url(./fonts/Lato-Light.ttf);
}
body {
  background: -webkit-gradient(linear, left top, left bottom, from(#8addd6), to(#8a7cd6)) no-repeat;
  background: linear-gradient(#8addd6, #8a7cd6) no-repeat;
}

.header {
  width: 100%;
}
.header__title {
  text-align: center;
  font-family: Lato-Bold;
  margin-top: 5%;
}
.header__text {
  font-family: Lato-Light;
  margin-left: 20%;
}

.main {
  width: 100%;
  padding: 10% 0;
}
.main__content {
  margin-left: 30%;
}
.main__content input {
  outline: none;
  border: 1px #999393 solid;
  font-family: Lato-Light;
  width: 20%;
  font-size: 16px;
  border-radius: 15px;
}
.main__content input:focus {
  border: 3px #112a4b solid;
}
.main select {
  font-family: Lato-Light;
  width: 10%;
  font-size: 16px;
}